USE [QUANLYCUAHANG]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 12/22/2022 9:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[BILL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CREATE_AT] [datetime] NOT NULL,
	[STAFF_CREATE] [nvarchar](60) NULL,
	[STATUS] [nchar](1) NOT NULL,
	[DELIVER_ADDRESS] [nvarchar](max) NOT NULL,
	[CUSTOMER] [varchar](32) NULL,
 CONSTRAINT [PK_BILL] PRIMARY KEY CLUSTERED 
(
	[BILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_DETAIL]    Script Date: 12/22/2022 9:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_DETAIL](
	[BILL_ID] [int] NOT NULL,
	[PRODUCT_ID] [int] NOT NULL,
	[AMOUNT_BILL] [int] NOT NULL,
 CONSTRAINT [PK_BILL_DETAIL_1] PRIMARY KEY CLUSTERED 
(
	[BILL_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CART]    Script Date: 12/22/2022 9:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[PRODUCT_ID] [int] NOT NULL,
	[AMOUNT_CART] [tinyint] NOT NULL,
	[ACCOUNT_ID] [varchar](32) NOT NULL,
 CONSTRAINT [PK_CART] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC,
	[ACCOUNT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 12/22/2022 9:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[CLIENT_ID] [varchar](32) NOT NULL,
	[LAST_NAME] [nvarchar](50) NOT NULL,
	[FIRST_NAME] [nvarchar](10) NOT NULL,
	[ADDRESS] [nvarchar](max) NOT NULL,
	[PHONE_NUMBER] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[CLIENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT_ACCOUNT]    Script Date: 12/22/2022 9:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT_ACCOUNT](
	[USERNAME] [varchar](32) NOT NULL,
	[PASSWORD] [varchar](64) NOT NULL,
	[POINT] [int] NOT NULL,
	[CREATE_AT] [datetime] NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[CODE] [nvarchar](10) NULL,
 CONSTRAINT [PK_CLIENT_ACCOUNT_1] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PART]    Script Date: 12/22/2022 9:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART](
	[PART_ID] [int] IDENTITY(1,1) NOT NULL,
	[PART_NAME] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PART] PRIMARY KEY CLUSTERED 
(
	[PART_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/22/2022 9:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCT_NAME] [nvarchar](64) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[PRICE] [float] NOT NULL,
	[IMAGE] [varchar](max) NULL,
	[QTT_IN_STOCK] [int] NOT NULL,
	[PRODUCT_TYPE] [int] NULL,
	[INSERT_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_TYPE]    Script Date: 12/22/2022 9:28:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_TYPE](
	[PRO_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRO_TYPE_NAME] [nvarchar](20) NOT NULL,
	[PART] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT_TYPE] PRIMARY KEY CLUSTERED 
(
	[PRO_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BILL] ON 

INSERT [dbo].[BILL] ([BILL_ID], [CREATE_AT], [STAFF_CREATE], [STATUS], [DELIVER_ADDRESS], [CUSTOMER]) VALUES (57, CAST(N'2022-05-30T02:17:33.303' AS DateTime), NULL, N'N', N'BIÊN HÒA', N'thanhtrung')
INSERT [dbo].[BILL] ([BILL_ID], [CREATE_AT], [STAFF_CREATE], [STATUS], [DELIVER_ADDRESS], [CUSTOMER]) VALUES (58, CAST(N'2022-06-02T08:53:12.793' AS DateTime), NULL, N'N', N'BIEN HOA', N'thanhtrung')
SET IDENTITY_INSERT [dbo].[BILL] OFF
GO
INSERT [dbo].[BILL_DETAIL] ([BILL_ID], [PRODUCT_ID], [AMOUNT_BILL]) VALUES (57, 29, 5)
INSERT [dbo].[BILL_DETAIL] ([BILL_ID], [PRODUCT_ID], [AMOUNT_BILL]) VALUES (58, 29, 1)
GO
INSERT [dbo].[CART] ([PRODUCT_ID], [AMOUNT_CART], [ACCOUNT_ID]) VALUES (27, 1, N'thanhtrung')
INSERT [dbo].[CART] ([PRODUCT_ID], [AMOUNT_CART], [ACCOUNT_ID]) VALUES (29, 1, N'thanhtrung')
INSERT [dbo].[CART] ([PRODUCT_ID], [AMOUNT_CART], [ACCOUNT_ID]) VALUES (30, 1, N'thanhtrung')
GO
INSERT [dbo].[CLIENT] ([CLIENT_ID], [LAST_NAME], [FIRST_NAME], [ADDRESS], [PHONE_NUMBER]) VALUES (N'dangbac', N'NGUYEN DANG', N'BAC', N'BÌNH PHƯỚC', N'0123456789')
INSERT [dbo].[CLIENT] ([CLIENT_ID], [LAST_NAME], [FIRST_NAME], [ADDRESS], [PHONE_NUMBER]) VALUES (N'huynh', N'TRAN QUANG NGOC', N'HUYNH', N'HUE', N'0123456789')
INSERT [dbo].[CLIENT] ([CLIENT_ID], [LAST_NAME], [FIRST_NAME], [ADDRESS], [PHONE_NUMBER]) VALUES (N'minhthuan', N'NGUYEN MINH', N'THUAN', N'BINH DUONG', N'0123456789')
GO
INSERT [dbo].[CLIENT_ACCOUNT] ([USERNAME], [PASSWORD], [POINT], [CREATE_AT], [EMAIL], [CODE]) VALUES (N'dangbac', N'123456', 0, CAST(N'2022-05-25T19:33:10.220' AS DateTime), N'dangbac@gmail.com', N'')
INSERT [dbo].[CLIENT_ACCOUNT] ([USERNAME], [PASSWORD], [POINT], [CREATE_AT], [EMAIL], [CODE]) VALUES (N'huynh', N'123456', 0, CAST(N'2022-05-25T19:33:21.303' AS DateTime), N'huynh@gmail.com', N'')
INSERT [dbo].[CLIENT_ACCOUNT] ([USERNAME], [PASSWORD], [POINT], [CREATE_AT], [EMAIL], [CODE]) VALUES (N'minhthuan', N'123456', 0, CAST(N'2022-05-25T19:28:06.020' AS DateTime), N'minhthuan@gmail.com', N'')
GO
SET IDENTITY_INSERT [dbo].[PART] ON 

INSERT [dbo].[PART] ([PART_ID], [PART_NAME]) VALUES (1, N'TOP')
INSERT [dbo].[PART] ([PART_ID], [PART_NAME]) VALUES (2, N'BOT')
SET IDENTITY_INSERT [dbo].[PART] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [PRODUCT_NAME], [DESCRIPTION], [PRICE], [IMAGE], [QTT_IN_STOCK], [PRODUCT_TYPE], [INSERT_DATE]) VALUES (19, N'Jacket đen', N'Jacket đen cao cấp', 200000, N'/resources/my_image/2205251602501024x1024-Mens-Jacket-Keanu-Black-110221-1.jpg', 51, 16, CAST(N'2022-05-25T16:02:52.843' AS DateTime))
INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [PRODUCT_NAME], [DESCRIPTION], [PRICE], [IMAGE], [QTT_IN_STOCK], [PRODUCT_TYPE], [INSERT_DATE]) VALUES (20, N'Jacket xanh đen', N'Jacket cao cấp nhập khẩu từ Mỹ', 500000, N'/resources/my_image/2205251604170731516000016_J25605_322_A.jpg', 50, 16, CAST(N'2022-05-25T16:04:19.643' AS DateTime))
INSERT [dbo].[PRODUCT] ([PRODUCT_ID], [PRODUCT_NAME], [DESCRIPTION], [PRICE], [IMAGE], [QTT_IN_STOCK], [PRODUCT_TYPE], [INSERT_DATE]) VALUES (21, N'Jacket ba màu', N'Jacket ba màu Quảng Đông', 399000, N'/resources/my_image/2205251605020731516000016_J25600_401_A.jpg', 50, 16, CAST(N'2022-05-25T16:05:04.883' AS DateTime))
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCT_TYPE] ON 

INSERT [dbo].[PRODUCT_TYPE] ([PRO_TYPE_ID], [PRO_TYPE_NAME], [PART]) VALUES (13, N'Hoodie', 1)
INSERT [dbo].[PRODUCT_TYPE] ([PRO_TYPE_ID], [PRO_TYPE_NAME], [PART]) VALUES (16, N'Jackets', 1)
INSERT [dbo].[PRODUCT_TYPE] ([PRO_TYPE_ID], [PRO_TYPE_NAME], [PART]) VALUES (25, N'Vest', 1)
SET IDENTITY_INSERT [dbo].[PRODUCT_TYPE] OFF
GO
ALTER TABLE [dbo].[BILL] ADD  CONSTRAINT [DF_BILL_CREATE_AT]  DEFAULT (getdate()) FOR [CREATE_AT]
GO
ALTER TABLE [dbo].[BILL] ADD  CONSTRAINT [DF_BILL_STATUS]  DEFAULT (N'N') FOR [STATUS]
GO
ALTER TABLE [dbo].[CLIENT_ACCOUNT] ADD  CONSTRAINT [DF_CLIENT_ACCOUNT_POINT]  DEFAULT ((0)) FOR [POINT]
GO
ALTER TABLE [dbo].[CLIENT_ACCOUNT] ADD  CONSTRAINT [DF_CLIENT_ACCOUNT_CREATE_AT]  DEFAULT (getdate()) FOR [CREATE_AT]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF_PRODUCT_QTT_IN_STOCK]  DEFAULT ((0)) FOR [QTT_IN_STOCK]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF_PRODUCT_INSERT_DATE]  DEFAULT (getdate()) FOR [INSERT_DATE]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_CLIENT_ACCOUNT] FOREIGN KEY([CUSTOMER])
REFERENCES [dbo].[CLIENT_ACCOUNT] ([USERNAME])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK_BILL_CLIENT_ACCOUNT]
GO
ALTER TABLE [dbo].[BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_DETAIL_BILL] FOREIGN KEY([BILL_ID])
REFERENCES [dbo].[BILL] ([BILL_ID])
GO
ALTER TABLE [dbo].[BILL_DETAIL] CHECK CONSTRAINT [FK_BILL_DETAIL_BILL]
GO
ALTER TABLE [dbo].[BILL_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_DETAIL_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[BILL_DETAIL] CHECK CONSTRAINT [FK_BILL_DETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_CLIENT_ACCOUNT] FOREIGN KEY([ACCOUNT_ID])
REFERENCES [dbo].[CLIENT_ACCOUNT] ([USERNAME])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_CLIENT_ACCOUNT]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_PRODUCT]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [FK_CLIENT_CLIENT_ACCOUNT] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT_ACCOUNT] ([USERNAME])
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [FK_CLIENT_CLIENT_ACCOUNT]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_PRODUCT_TYPE] FOREIGN KEY([PRODUCT_TYPE])
REFERENCES [dbo].[PRODUCT_TYPE] ([PRO_TYPE_ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_PRODUCT_TYPE]
GO
ALTER TABLE [dbo].[PRODUCT_TYPE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_TYPE_PART] FOREIGN KEY([PART])
REFERENCES [dbo].[PART] ([PART_ID])
GO
ALTER TABLE [dbo].[PRODUCT_TYPE] CHECK CONSTRAINT [FK_PRODUCT_TYPE_PART]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [CK_PRODUCT] CHECK  (([QTT_IN_STOCK]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [CK_PRODUCT]
GO
