*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    /* background: #c7d3dd; */
    background: #fff;
}
:root{
    --blue: #418aff;
}

.shoppingCart{
    height: 93%;
    width: 94%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 7px 20px rgb(78, 78, 78);
}
.shoppingCart .productCart{
    padding: 30px 50px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}
.productCart .items{
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 451px;
    display: block;
    /* box-shadow: 0 1px 2px #ccc; */
}
.productCart .items::-webkit-scrollbar{
    width: 0;
}
.productCart .item{
    display: flex;
    justify-content: space-between;
    height: 130px;
    width:100% ;
    border-bottom: 1px solid #ccc;
    padding: 20px 5px;
    overflow: hidden;
}
.productCart .item .nameItem, .numberItem, .price{
    display: inline-block;
    margin: auto 0;
}
.item img{
    background: #ccc;
    
}
.item .numberItem button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}
.item .numberItem small{
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 3px;
    font-size: 16px;
}
.item>button{
    margin: auto 0;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.item>button i{
    font-size: 18px;
    color: rgb(66, 66, 66);
    padding: 0;
}
.productCart .item .typeItem{
    font-weight: bold;
    font-size: 1.1rem;
}
.productCart .item .detailItem{
    font-size: 0.9rem;
}
.productCart .item:first-child{
    border-top: 1px solid #ccc;
}
.productCart .item img{
    height: 100%;
    width: auto;
}
.productCart .backShop{
    display: block;
    margin-top: 80px;
}
.productCart .backShop a{
    text-decoration: none;
    color: #333;
}
.productCart h2{
    margin-top: 20px;
}
.shoppingCart .checkout{
    background: #DDDDDD;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 50px;
    font-size: 20px;
}
.checkout .cartIcon{
    border-bottom: 1px solid rgb(154, 154, 154);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.checkout .cartIcon img{
    width: 100px;
    height: auto;
    /* margin: 20px auto; */
}
.checkout .shipping select{
    width: 100%;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 10px;
    background: #F7F7F7;
    outline: none;
}
.checkout .shipping select:hover{
    border: 1px solid #333;
}

.checkout .sale span{
    margin-top: 20px;
}
.checkout .detailCheckout .totalItem{
    display: flex;
    justify-content: space-between;
    
}
.checkout .totalPrice{
    border-top: 1px solid rgb(154, 154, 154);
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}
.checkout button{
    outline: none;
    border: 1px solid transparent;
    background: rgb(22, 22, 22);
    padding: 10px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}
.checkout button:hover{
    border: 1px solid #000;
    background: #fff;
    color: #000;
    font-weight: 600;
}

